button{
  width: auto;
  min-width: 100px;
  height: 50px;
  background: #5e80e0;
  border:2px solid #000;
  border-radius: 5px;
  font-size: 20px;
  transition: 0.3s;
}
button:hover{
    background: #4a66c8;
    cursor: pointer;
    color: #e9e0e0;
    transition: 0.3s;
}