.modal-container{
  max-width: 400px;
  width: 100%;
  background: rgb(236, 228, 150);
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}
.modal-wrapper{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.568);
    position: absolute;
    z-index: 100;
}
