.change-theme{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 20px;
    background: transparent;
    border: none;
}
.change-theme>img{
    width: 50px;
    height: 50px;
    
}