*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background:rgb(36, 36, 36);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  position: relative;
}
.game-wrapper{
  background: #e4d5d5;
  max-width: 700px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;

}
.buttons-container{
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
  margin-top: 20px;
  max-width: 500px;
  margin: 10px auto;
  flex-wrap: wrap;
}
